node_modules
logo*
/discord-bot-server/dist
.vscode
/discord-bot-server/tslint.exclude
.env
.eslintrc.json
.jsbeautifyrc
log
log-*
*/commandsDB.json
*/package-lock.json
discord-bot-server/logs
discord-bot-server/src/commandsDB.json
discord-bot-server/package-lock.json
discord-bot-interface/package-lock.json
