node_modules
logo*
/lmaoserver/dist
.vscode
/lmaoserver/tslint.exclude
.env
.eslintrc.json
.jsbeautifyrc
log
log-*
*/commandsDB.json
*/package-lock.json
lmaoserver/logs
lmaoserver/src/commandsDB.json
lmaoserver/package-lock.json
lmaointerface_ts/package-lock.json
